@use '~styles/mixins/table';

.status-section {
	.table-scroll {
		overflow-x: auto !important;
		padding-bottom: 1rem;
	}

	.workers-table {
		@include table.table-scroll;

		table {
			width: 100%;

			thead {
				th {
					border-bottom: 0.1rem solid var(--text-tertiary);
				}
			}

			tbody {
				tr:hover {
					background-color: hsla(0, 0%, 100%, 0.1);
				}
				td {
					padding: 0.5rem 2rem 0.5rem 0.5rem;
					vertical-align: middle;
					white-space: nowrap;
				}

				.status {
					svg {
						width: 0.375rem;
						height: 0.375rem;
						margin-right: 0.5rem;
						vertical-align: middle;
					}

					&[data-status='idle'] {
						color: var(--handbrake-yellow);
					}

					&[data-status='working'] {
						color: var(--handbrake-blue);
					}
				}

				.status,
				.job,
				.progress {
					text-align: right;
				}
			}
		}
	}
}
