@import '../../../style/modules/colors';

.queue-job {
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;

	border-radius: 1rem;
	background-color: $background-tertiary;

	h5 {
		margin: 0;
	}

	.job-number {
		padding: 0 1rem;
		display: flex;
		align-items: center;
		background-color: $transparent-light-primary;
	}

	.job-info {
		padding: 1rem 2rem;
		flex-grow: 1;
		display: flex;
		flex-flow: column nowrap;
		gap: 2rem;

		.job-info-section {
			display: flex;
			flex-flow: row wrap;
			gap: 1rem;

			#current-fps,
			#average-fps {
				width: 10%;
			}

			#time-elapsed,
			#time-left {
				width: 15%;
			}

			#progress {
				min-width: 50%;
				width: 50%;
			}
		}
	}

	.job-actions {
		display: grid;
		grid-template-columns: 1;
		gap: 0.2rem;

		button {
			padding: 0.5rem 0.75rem;

			border: none;
			border-radius: 0;
			background-color: $transparent-light-secondary;

			.bi {
				color: $text-color-secondary;
				font-size: 1.5rem;
			}

			&:hover:not(:disabled) {
				background-color: $transparent-light-primary;
				cursor: pointer;
			}

			&:hover:disabled {
				// background-color: $transparent-light-primary;
				cursor: not-allowed;
			}

			&:active {
				background-color: $transparent-light-tertiary;
			}

			&:disabled {
				background-color: $transparent-light-tertiary;
				.bi {
					color: $text-color-disabled;
				}
			}
		}
	}
}
