.preset-category {
	.header {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		width: 100%;
		// margin-bottom: 1rem;
		padding: 0.5rem 1rem;

		text-align: left;

		border: none;
		border-radius: 4rem;
		background: transparent;
		color: var(--text-tertiary);

		cursor: pointer;

		&:hover {
			background-color: var(--background-five);
			// color: var(--background-primary);
		}

		.folder-icon {
			width: 1.5rem;
			height: 1.5rem;
		}
	}

	.preset-cards {
		display: grid;
		grid-template-rows: 0fr;

		// transition: grid-template-rows calc(0.025s * var(--preset-count)) ease-in-out;

		.wrapper {
			overflow: hidden;

			.cards {
				display: flex;
				flex-flow: column nowrap;
				gap: 1.5rem;

				margin-top: 1rem;
				margin-bottom: 2rem;
			}
		}

		&[data-expanded='true'] {
			grid-template-rows: 1fr;
		}
	}
}
