@use '~styles/global/font';
@use '~styles/global/scroll';
@use '~styles/global/sizing';
@use '~styles/global/text';
@use '~styles/global/theme';

@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

:root {
	font-size: 10px;
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	max-height: 100vh;
	// overflow: clip;

	margin: 0;
	padding: 0;

	// Font --------------------------------------------------------------------
	font-size: 1.5rem;
	font-family: var(--body-font);

	// Color -------------------------------------------------------------------
	background-color: var(--background-primary);
	color: var(--text-primary);

	#root {
		min-width: var(--breakpoint-min);
		height: 100vh;
	}
}
