@use './colors';
@use './font';

@mixin form-item {
	padding: 0.5rem 1rem;

	font-family: var(--body-font);
	font-size: 1.5rem;

	border-radius: 0.75rem;
	border: 0.1rem solid var(--text-primary);

	background-color: transparent;
	color: var(--text-primary);

	&:disabled,
	&.disabled {
		color: var(--text-disabled);
	}

	&:empty::after {
		content: '\200b';
	}
}
