{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"printWidth": 100,
	"overrides": [
		{
			"files": "*.yaml",
			"options": {
				"tabWidth": 2,
				"useTabs": true
			}
		},
		{
			"files": "README.md",
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
