{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"printWidth": 100,
	"overrides": [
		{
			"files": ["*.json", "*.yaml", "*.yml"],
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		},
		{
			"files": ["*.md"],
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
