@use '~styles/modules/colors';

.toggle-input {
	.toggle-input-label {
		margin-right: 1rem;
		white-space: nowrap;

		&.disabled {
			color: colors.$text-color-disabled !important;
			text-decoration: line-through;
		}
	}

	.toggle-input-checkbox {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		height: 3rem;
		width: 6rem;
		background-color: colors.$handbrake-red;
		box-shadow: 0 0 1rem black;
		border-radius: 2rem;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			top: 0.3rem;
			left: 0.3rem;
			width: 2.4rem;
			height: 2.4rem;
			border-radius: 50%;
			background-color: colors.$text-color-tertiary;
			box-shadow: 0 0 0.3rem black;
			transition: 0.25s;
		}

		&:has(input#checkbox-input:checked) {
			background-color: colors.$handbrake-blue;

			&::after {
				left: 3.2rem;
			}
		}

		&:has(input#checkbox-input:disabled) {
			opacity: 0.4;
			cursor: not-allowed;
		}

		input#checkbox-input:checked + &::after {
			left: 2.25rem;
		}

		input#checkbox-input {
			display: none;
		}
	}
}
