@import '../../style/modules/colors';

@media (max-width: 1000px) {
	#primary {
		.dark-overlay {
			display: inherit !important;
			transition: background-color 0.25s ease-in-out;

			&.visible {
				background-color: rgba(0, 0, 0, 0.75);
			}

			&.hidden {
				background-color: transparent;
			}
		}

		.primary-section {
			min-width: 100%;

			.mobile-toolbar {
				display: inherit !important;
			}

			.content {
				max-height: calc(100% - 5rem) !important;
			}
		}
	}
}

#primary {
	height: 100%;

	display: flex;
	flex-flow: row nowrap;

	.dark-overlay {
		position: absolute;
		z-index: 998;
		height: 100%;
		width: 100%;
		display: none;
		pointer-events: none;
	}

	.primary-section {
		flex-grow: 1;
		max-width: 100%;
		max-height: 100%;
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		overflow: hidden;

		.mobile-toolbar {
			position: relative;
			min-height: 5rem;
			max-height: 5rem;
			display: none;
			min-width: 100%;
			max-width: 100%;

			background-color: $background-secondary;

			.title {
				min-width: 100%;
				max-width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 1rem;
				// position: relative;
				color: $text-color-primary;
				text-decoration: none;

				img {
					height: 100%;
					padding: 0.75rem 0;
					// width: 100%;
					object-fit: scale-down;
					// position: absolute;
					// left: 0;
				}

				h1 {
					font-size: 2.25rem;
					font-weight: 400;
				}
			}

			button {
				position: absolute;
				z-index: 1000;
				height: 100%;
				aspect-ratio: 1;
				background-color: transparent;
				border: none;

				i {
					color: $text-color-primary;
					font-size: 3.5rem;
				}

				&:hover {
					cursor: pointer;
					background-color: $transparent-light-secondary;
				}
			}
		}

		.content {
			flex-grow: 1;
			// min-width: none;
			width: 100%;
			max-height: 100%;
			// max-width: 100%;
		}
	}
}
