@use '~styles/variables/colors';

.dashboard {
	:global(.table-scroll) {
		max-width: 100%;
		overflow-x: auto;
		padding-bottom: 2rem;
	}

	a {
		text-decoration: none;

		i {
			// height: 100%;
			// width: 2.75rem;
			display: inline-block;
			border-radius: 50%;
			line-height: 1rem;
			// aspect-ratio: 1;
			// display: inline-block;
			// // background-color: red;
			// text-align: center;
		}

		&:hover {
			color: colors.$text-color-primary;
			// text-decoration: underline;
			i {
				background-color: colors.$text-color-primary;
				color: colors.$background-primary;
			}
		}
	}

	table {
		width: 100%;

		tr:hover {
			background-color: rgba(255, 255, 255, 0.1);
		}

		th,
		td {
			padding: 0.5rem 1rem;

			&.left {
				text-align: left;
			}

			&.center {
				text-align: center;
			}

			&.right {
				text-align: right;
			}
		}

		th {
			font-size: 1.25rem;
			border-bottom: 0.1rem solid colors.$text-color-tertiary;
		}

		td {
			white-space: nowrap;
		}
	}
}
