@use '@fontsource-variable/inter';
@use '@fontsource-variable/noto-sans';

$font-family-primary: 'Noto Sans Variable', sans-serif;
$font-family-secondary: 'Inter Variable', sans-serif;

html {
	--body-font: 'Noto Sans Variable', sans-serif;
	--heading-font: 'Inter Variable', sans-serif;
}
