@use '../variables/breakpoints';

html {
	--breakpoint-min: #{breakpoints.$breakpoint-min};
	--breakpoint-small: #{breakpoints.$breakpoint-small};
	--breakpoint-medium: #{breakpoints.$breakpoint-medium};
	--breakpoint-large: #{breakpoints.$breakpoint-large};
	--breakpoint-xlarge: #{breakpoints.$breakpoint-xlarge};
	--breakpoint-max: #{breakpoints.$breakpoint-max};

	--header-height: 5rem;
	--sidebar-width: #{breakpoints.$sidebar-width};
}
