@import '../../style/modules/colors';

#workers-section {
	.sub-section.summary {
		.summary-info {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			gap: 1rem;

			font-size: 2rem;
		}

		.info {
			padding: 1rem 2rem;
			flex-grow: 1;
			border-radius: 1rem;
			background-color: hsla(0, 0%, 100%, 0.1);
			text-align: center;
		}

		.info.total {
			color: $handbrake-blue;
		}

		.info.idle {
			color: $handbrake-yellow;
		}

		.info.active {
			color: $handbrake-green;
		}
	}

	.sub-section.table {
		.table-scroll {
			overflow-x: auto !important;
			padding-bottom: 1rem;
		}
	}

	.workers-table {
		width: 100%;
		font-size: 1.75rem;

		thead {
			th {
				border-bottom: 0.1rem solid $text-color-tertiary;
			}
		}

		tbody {
			tr:hover {
				background-color: hsla(0, 0%, 100%, 0.1);
			}
			td {
				padding: 0.5rem 2rem 0.5rem 0.5rem;
				vertical-align: middle;
				white-space: nowrap;
			}

			.status {
				.bi {
					vertical-align: middle;
					font-size: 0.5rem;
					margin-right: 0.5rem;
				}
			}

			.status.idle {
				color: $handbrake-yellow;
			}
		}
	}
}
