@import '../../style/modules/colors';

.section-overlay {
	position: absolute;
	z-index: 100;
	// top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 5rem 0;

	overflow-y: scroll;

	display: flex;
	align-items: flex-start;
	justify-content: center;

	background-color: hsla(0, 0%, 0%, 0.75);

	.section-overlay-window {
		width: 90%;
		max-width: 75rem;
		padding: 2rem;

		border-radius: 1rem;
		background-color: $background-tertiary;
		box-shadow: 0 0 2rem 0 black;
	}
}
