@import '../../style/modules/colors';

.section {
	position: relative;
	height: 100%;

	flex-grow: 1;

	overflow-x: hidden;
	overflow-y: scroll;

	padding: 2rem;

	.section-title {
		margin: 2rem 0;
	}

	.section-divider {
		margin-bottom: 3rem;
	}

	.sub-section {
		padding: 1rem;
		margin-bottom: 2rem;

		display: flex;
		flex-flow: column nowrap;
		gap: 1rem;

		border-radius: 1rem;
		background-color: $background-secondary;

		h2 {
			margin: 0;
			margin-bottom: 1rem;
			color: $text-color-tertiary;
		}
	}
}
