@import '../../../style/modules/colors';

.section#dashboard {
	.sub-section#summary {
		.summary-info {
			display: flex;
			flex-flow: row wrap;
			gap: 1rem;
			font-size: 1.75rem;

			.info {
				min-width: 30%;
				padding: 1rem;
				flex-grow: 1;
				text-align: center;
				border-radius: 0.75rem;
				background-color: $transparent-light-primary;
			}
		}
	}
}
