@use '~styles/modules/colors';

.section#presets {
	.sub-section#buttons {
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;

		.preset-count {
			font-size: 2rem;
		}
	}

	.sub-section#list {
		.category-list {
			.category-list-header {
				margin-bottom: 1rem;
				padding: 0.5rem 1rem;
				border-radius: 4rem;
				color: colors.$text-color-tertiary;

				* {
					margin-right: 0.5rem;
					vertical-align: middle;
				}

				&:hover {
					background-color: colors.$background-five;
					// color: colors.$background-primary;
				}

				.bi-folder2,
				.bi-folder2-open {
					font-size: 2rem;
				}
			}

			.category-list-cards {
				display: flex;
				flex-flow: column nowrap;
				gap: 1.5rem;
				margin-bottom: 2rem;
			}
		}
	}
}
