@use '~styles/modules/font';
@use '~styles/modules/colors';

.controlled-button {
	// margin: 1rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.75rem;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 1rem;
	box-shadow: 0 0 1rem black;

	background-color: colors.$handbrake-green;
	color: colors.$text-color-primary;
	text-shadow: 0 0 1rem colors.$background-primary;

	.button-icon {
		font-size: 2.5rem;
	}

	.button-label {
		font-family: font.$font-family-primary;
		font-size: 2rem;
	}
}

.controlled-button:hover:not(:disabled) {
	opacity: 80%;
	cursor: pointer;
}

.controlled-button:disabled {
	opacity: 50%;
}

.controlled-button:hover:disabled {
	cursor: not-allowed;
}

.controlled-button.red {
	background-color: colors.$handbrake-red;
}

.controlled-button.orange {
	background-color: colors.$handbrake-orange;
}

.controlled-button.yellow {
	background-color: colors.$handbrake-yellow;
}

.controlled-button.green {
	background-color: colors.$handbrake-green;
}

.controlled-button.blue {
	background-color: colors.$handbrake-blue;
}

.controlled-button.magenta {
	background-color: colors.$handbrake-magenta;
}
