.controlled-button {
	// margin: 1rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.75rem;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 1rem;
	box-shadow: 0 0 1rem black;

	background-color: var(--handbrake-green);
	color: var(--text-primary);
	text-shadow: 0 0 1rem var(--background-primary);

	.button-icon {
		font-size: 2.5rem;
	}

	.button-label {
		font-family: var(--body-font);
		font-size: 2rem;
	}

	&:hover:not(:disabled) {
		opacity: 80%;
		cursor: pointer;
	}

	&:disabled {
		opacity: 50%;
	}

	&:hover:disabled {
		cursor: not-allowed;
	}

	&[data-color='red'] {
		background-color: var(--handbrake-red);
	}

	&[data-color='orange'] {
		background-color: var(--handbrake-green);
	}

	&[data-color='yellow'] {
		background-color: var(--handbrake-yellow);
	}

	&[data-color='green'] {
		background-color: var(--handbrake-green);
	}

	&[data-color='blue'] {
		background-color: var(--handbrake-blue);
	}

	&[data-color='magenta'] {
		background-color: var(--handbrake-magenta);
	}
}
