@use 'src/style/modules/colors';
@use 'src/style/modules/font';

.button-group {
	width: 100%;
	margin-bottom: 3rem;
	overflow: hidden;
	display: flex;

	border-radius: 1rem;
	border: 0.1rem solid colors.$text-color-primary;

	button {
		width: 100%;
		padding: 1rem;

		font-size: 1.75rem;
		font-family: font.$font-family-primary;
		color: colors.$text-color-primary;

		// border: 0.1rem solid $text-color-primary;
		border: none;
		background-color: transparent;

		&.selected {
			background-color: colors.$transparent-light-secondary;
			text-decoration: underline;
		}

		&:hover {
			cursor: pointer;
			background-color: colors.$transparent-light-primary;
		}
	}
}
