.button-group {
	width: 100%;
	margin-bottom: 3rem;
	overflow: hidden;
	display: flex;

	border-radius: 1rem;
	border: 0.1rem solid var(--text-primary);

	button {
		width: 100%;
		padding: 1rem;

		font-size: 1.75rem;
		font-family: var(--body-font);
		color: var(--text-primary);

		// border: 0.1rem solid $text-color-primary;
		border: none;
		background-color: transparent;

		&.selected {
			background-color: var(--transparent-secondary);
			text-decoration: underline;
		}

		&:hover {
			cursor: pointer;
			background-color: var(--transparent-primary);
		}
	}
}
