@use '~styles/variables/breakpoints';

.page {
	flex-grow: 1;

	margin-top: var(--header-height);
	padding: 2rem 1rem;

	.heading {
		margin: 2rem 0;
	}

	.divider {
		margin-bottom: 3rem;
	}

	@media (min-width: breakpoints.$breakpoint-large) {
		margin-left: var(--sidebar-width);
		padding: 2rem;
	}
}
