@use 'src/style/modules/colors';

.version-info {
	.current-version {
		color: colors.$text-color-tertiary;
	}

	.latest-version {
		display: block;
		width: fit-content;
		margin: 1rem auto 0.5rem auto;
		padding: 0.5rem 1rem;
		text-decoration: none;
		border-radius: 2rem;
		border: 0.1rem solid colors.$handbrake-yellow;
		color: colors.$handbrake-yellow;

		.bi {
			margin-right: 0.5rem;
		}

		.version {
			text-decoration: underline;
		}
	}
}
