@import '../../../../style/modules/colors';
@import '../../../../style/modules/font';

.path-input {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	.input-section {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		gap: 1rem;

		.input-path-text {
			flex-grow: 1;
		}
	}

	.controlled-button {
		.button-label {
			font-size: 1.5rem;
		}
	}
}
