@use '~styles/modules/sizing';

.path-input {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	.input-section {
		display: flex;
		flex-flow: row wrap;

		.inputs {
			height: 3rem;
			flex-grow: 1;
			display: flex;
			flex-flow: row nowrap;
			align-items: stretch;
			gap: 0.75rem;

			.input-path-text {
				flex-grow: 1;
			}

			.controlled-button.reset {
				aspect-ratio: 1;
				padding: 0;
				text-align: center;

				.bi {
					margin: auto;
					line-height: 1rem;
					font-size: 1.75rem;
				}
			}
		}
	}

	.controlled-button {
		.button-label {
			font-size: 1.5rem;
		}
	}
}

@media screen and (max-width: sizing.$small-max-width) {
	.path-input {
		.input-section {
			flex-flow: row wrap;
			gap: 0.5rem;

			.input-label {
				width: 100%;
			}
		}
	}
}

@media screen and (min-width: sizing.$medium-min-width) {
	.path-input {
		.input-section {
			flex-flow: row nowrap;
			gap: 1rem;
		}
	}
}
