@import '../../../../style/modules/colors';
@import '../../../../style/modules/font';
@import '../../../../style/modules/sizing';

.path-input {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	.input-section {
		display: flex;
		align-items: center;
		gap: 1rem;

		.input-path-text {
			flex-grow: 1;
		}
	}

	.controlled-button {
		.button-label {
			font-size: 1.5rem;
		}
	}
}

@media screen and (max-width: $small-max-width) {
	.path-input {
		.input-section {
			flex-flow: row wrap;

			.input-label {
				width: 100%;
			}
		}
	}
}

@media screen and (min-width: $medium-min-width) {
	.path-input {
		.input-section {
			flex-flow: row nowrap;
		}
	}
}
