@use '~styles/variables/breakpoints';
@use '~styles/mixins/form';

.path-input {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	.input-section {
		.label {
			display: block;
			margin-bottom: 0.5rem;
			font-size: 0.85rem;
			font-weight: 600;
			color: var(--text-tertiary);
		}

		.inputs {
			width: 100%;
			height: 2rem;
			display: flex;
			flex-flow: row nowrap;
			align-items: stretch;
			gap: 0.5rem;

			.path-text {
				@include form.form-item;

				flex-grow: 1;
			}

			.reset {
				padding: 0.25rem;
				aspect-ratio: 1;
				// padding: 0;
				// text-align: center;

				// .bi {
				// 	margin: auto;
				// 	line-height: 1rem;
				// 	font-size: 1.75rem;
				// }
			}
		}
	}
}

@media screen and (min-width: breakpoints.$breakpoint-medium) {
	.path-input {
		.input-section {
			flex-flow: row nowrap;
			gap: 1rem;
		}
	}
}
