@import '../../style/modules/colors';
@import '../../style/modules/font';

.file-browser {
	overflow: hidden;

	border-radius: 1rem;
	border: 0.2rem solid $background-primary;
}

.file-browser-toolbar {
	padding: 0.5rem 1rem;

	background-color: $background-primary;
}

.file-browser-body {
	padding: 1rem;
}

.file-browser-selection {
	padding: 0.5rem 1rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;

	display: flex;
	align-items: center;
	gap: 1rem;

	.selected-file {
		// min-height: 1rem;
		flex-grow: 1;
		border-radius: 0.5rem;
		background-color: hsla(0, 0%, 100%, 0.1);
		padding: 0.5rem 1rem;
		font-family: $font-family-primary;
		// font-size: 2rem;
	}
}

.directory-item {
	width: 100%;
	padding: 0.5rem 0.75rem;
	display: block;

	border: none;
	border-bottom: 0.1rem solid $background-primary;
	background-color: transparent;
	color: $text-color-primary;

	font-size: 1.5rem;
	text-align: left;
	// outline: none;

	.icon {
		margin-right: 1rem;
	}
}

.directory-item:hover {
	background-color: hsla(0, 0%, 100%, 0.1);
	cursor: pointer;
}

.directory-item:active {
	background-color: hsla(0, 0%, 100%, 0.05);
}
