// @import '/node_modules/bootstrap/scss/variables-dark';

.file-browser {
	overflow: hidden;

	border-radius: 1rem;
	background-color: var(--bs-secondary-bg);
}

.file-browser-toolbar {
	padding: 0.5rem 1rem;

	background-color: var(--bs-tertiary-bg);
}

.file-browser-body {
	padding: 1rem;
}

.file-browser-selection {
	padding: 0.5rem 1rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;

	display: flex;
	align-items: center;
	gap: 1rem;

	.selected-file {
		// min-height: 1rem;
		padding: 0.5rem;
		flex-grow: 1;
		border-radius: 0.5rem;
		background-color: var(--bs-tertiary-bg);
	}
}

.directory-item {
	width: 100%;
	padding: 0.5rem 0.75rem;
	display: block;
	background-color: transparent;

	text-align: left;
	border: none;
	border-bottom: 0.1rem solid var(--bs-tertiary-bg);
	// outline: none;

	.icon {
		margin-right: 1rem;
	}
}

.directory-item:hover {
	background-color: hsla(0, 0%, 100%, 0.1);
}

.directory-item:active {
	background-color: hsla(0, 0%, 100%, 0.05);
}
