@use 'src/style/modules/colors';
@use 'src/style/modules/sizing';

.section#settings-section {
	@media screen and (min-width: sizing.$large-min-width) {
		.settings-sub-sections {
			display: grid;
			gap: 2rem;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.settings-sub-sections {
		.sub-section {
			display: flex;
			flex-flow: column nowrap;
			gap: 1.25rem;

			.input-label {
				min-width: 100%;
				font-size: 1.35rem;
				color: colors.$text-color-tertiary;
			}

			.path-input {
				.input-section {
					flex-flow: row wrap;
					row-gap: 0.5rem;
					column-gap: 1rem;
				}
			}
		}
	}
}
