@use '~styles/variables/breakpoints';

.text-input {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: 0.5rem;

	label {
		white-space: nowrap;
		width: 100%;
	}

	input[type='text'] {
		flex-grow: 1;
	}
}

@media screen and (min-width: breakpoints.$breakpoint-medium) {
	.text-input {
		flex-flow: row nowrap;
		gap: 1rem;
	}
}
