@import '../../../../style/modules/colors';
@import '../../../../style/modules/font';

.text-input {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 1rem;

	label {
		white-space: nowrap;
	}

	input[type='text'] {
		flex-grow: 1;
	}
}
