@import '../../../../style/modules/colors';
@import '../../../../style/modules/font';
@import '../../../../style/modules/sizing';

.text-input {
	display: flex;
	align-items: center;

	label {
		white-space: nowrap;
	}

	input[type='text'] {
		flex-grow: 1;
	}
}

@media screen and (max-width: $small-max-width) {
	.text-input {
		flex-flow: row wrap;
		gap: 0.5rem;

		label {
			width: 100%;
		}
	}
}

@media screen and (min-width: $medium-min-width) {
	.text-input {
		flex-flow: row nowrap;
		gap: 1rem;
	}
}
