@import '../../../style/modules/colors';

.section#presets {
	.sub-section#buttons {
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;

		.preset-count {
			font-size: 2rem;
		}
	}
}
