@import '../../../style/modules/colors';

.section#queue {
	.sub-section#jobs {
		.buttons {
			// margin: 2rem 0;
			margin-bottom: 1rem;
			display: flex;
			flex-flow: row wrap;
			gap: 1rem;
		}
	}
}
