@use '~styles/variables/colors';

.queue-job-outer {
	padding: 0.5rem 1rem;
}

.queue-job-outer > .queue-job-inner {
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;

	border-radius: 1rem;
	background-color: colors.$background-tertiary;

	h5 {
		margin: 0;
	}

	.job-number {
		padding: 0 1rem;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		background-color: colors.$transparent-light-primary;
		cursor: grab;

		h3 {
			margin: 0;
		}

		i {
			color: colors.$text-color-disabled;
		}
	}

	.job-info {
		padding: 1rem 2rem;
		flex-grow: 1;
		display: flex;
		flex-flow: column nowrap;
		gap: 2rem;

		.job-section {
			flex-grow: 1;
			min-width: fit-content;

			.job-section-label {
				min-width: fit-content;
				white-space: nowrap;
			}
		}

		.job-info-section {
			display: flex;
			flex-flow: row wrap;
			gap: 1rem;

			#current-fps,
			#average-fps {
				width: 10%;
			}

			#time-elapsed,
			#time-left {
				width: 15%;
			}

			#progress {
				min-width: 50%;
				width: 50%;
			}

			.job-log-link {
				a {
					color: colors.$handbrake-blue;
				}
			}
		}
	}

	.job-actions {
		display: grid;
		grid-template-columns: 1;
		gap: 0.2rem;

		button {
			padding: 0.5rem 0.75rem;

			border: none;
			border-radius: 0;
			background-color: colors.$transparent-light-secondary;

			.bi {
				color: colors.$text-color-secondary;
				font-size: 1.5rem;
			}

			&:hover:not(:disabled) {
				background-color: colors.$transparent-light-primary;
				cursor: pointer;
			}

			&:hover:disabled {
				// background-color: $transparent-light-primary;
				cursor: not-allowed;
			}

			&:active {
				background-color: colors.$transparent-light-tertiary;
			}

			&:disabled {
				background-color: colors.$transparent-light-tertiary;
				.bi {
					color: colors.$text-color-disabled;
				}
			}
		}
	}
}
