.jobs {
	.buttons {
		// margin: 2rem 0;
		margin-bottom: 1rem;
		display: flex;
		flex-flow: row wrap;
		gap: 0.75rem;
	}

	.cards {
	}

	.pending-warning {
		padding: 1rem;
		border-radius: 0.75rem;
		background-color: color-mix(in srgb, var(--handbrake-yellow), transparent 90%);

		strong {
			color: var(--handbrake-yellow);
		}

		p {
			margin: 0;
		}
	}
}
