@use '~styles/variables/colors';

#status {
	.status-section {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		.status-info {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			gap: 1rem;

			&.Stopped {
				color: var(--handbrake-red);
			}

			&.Idle {
				color: var(--handbrake-yellow);
			}

			&.Active {
				color: var(--handbrake-blue);
			}

			.info-text {
				font-size: 2rem;
			}
		}

		.status-buttons {
			display: flex;
			flex-flow: row wrap;
			gap: 1rem;
		}
	}
}
