@use '~styles/variables/colors';

.text-info {
	&.vertical > * {
		display: block;
	}

	&:not(.vertical) {
		.text-info-label {
			margin-right: 1rem;
		}
	}

	.text-info-label {
		font-size: 1.25rem;
		color: colors.$text-color-tertiary;
	}
}
