$background-primary: hsl(0, 0%, 5%);
$background-secondary: hsl(0, 0%, 7.5%);
$background-tertiary: hsl(0, 0%, 10%);
$background-four: hsl(0, 0%, 15%);
$background-five: hsl(0, 0%, 20%);
$background-six: hsl(0, 0%, 25%);

$text-color-primary: hsl(0, 0%, 90%);
$text-color-secondary: hsl(0, 0%, 80%);
$text-color-tertiary: hsl(0, 0%, 70%);
$text-color-disabled: hsl(0, 0%, 50%);

$handbrake-red: #ca1a0d;
$handbrake-orange: #ff691c;
$handbrake-yellow: #d09e00;
$handbrake-green: #508f0b;
$handbrake-blue: #4853ec;
$handbrake-magenta: #e64fb4;

$transparent-light-primary: rgba(255, 255, 255, 0.1);
$transparent-light-secondary: rgba(255, 255, 255, 0.05);
$transparent-light-tertiary: rgba(255, 255, 255, 0.025);

$transparent-dark-primary: hsla(0, 0%, 0%, 0.75);
$transparent-dark-secondary: hsla(0, 0%, 0%, 0.5);
