@import '../../../style/modules/colors';
@import '../../../style/modules/font';

.section-overlay#create-new-job {
	.button-group {
		button {
			.bi {
				margin-right: 0.5rem;
			}
		}
	}

	form {
		display: flex;
		flex-flow: column nowrap;
		gap: 2rem;

		fieldset {
			padding: 1.5rem 1rem;
			display: flex;
			flex-flow: column nowrap;
			gap: 1rem;

			border: 0.1rem solid $text-color-primary;
			border-radius: 1rem;

			legend {
				font-family: $font-family-secondary;
				font-size: 2rem;
			}
		}

		label {
			color: $text-color-secondary;
		}
	}

	table {
		width: 100%;

		th {
			border-bottom: 0.1rem solid $text-color-secondary;
		}

		td {
			padding: 0.25rem 0.5rem;
		}
	}

	#output-full {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		gap: 1rem;

		.label {
			white-space: nowrap;
		}

		.text {
			flex-grow: 1;
			// background-color: white;
		}
	}

	.filename-conflict {
		text-align: center;
		color: red;
	}

	.buttons-section {
		display: flex;
		flex-direction: row wrap;
		justify-content: right;
		gap: 1rem;
	}

	.controlled-button {
		.button-label {
			font-size: 1.5rem;
		}
	}
}
