@use '@style/modules/colors';
@use '@style/modules/font';

.section-overlay#create-new-job {
	.button-group {
		button {
			.bi {
				margin-right: 0.5rem;
			}
		}
	}

	form {
		display: flex;
		flex-flow: column nowrap;
		gap: 2rem;

		fieldset {
			padding: 1.5rem 1rem;
			display: flex;
			flex-flow: column nowrap;
			gap: 1rem;

			border: 0.1rem solid colors.$text-color-primary;
			border-radius: 1rem;

			legend {
				font-family: font.$font-family-secondary;
				font-size: 2rem;
			}
		}

		label {
			color: colors.$text-color-secondary;
		}
	}

	.result-section {
		.table-scroll {
			max-height: 25rem;
			overflow-y: scroll;

			table {
				width: 100%;

				thead {
					th {
						border-bottom: 0.1rem solid colors.$text-color-secondary;
					}
				}

				tbody {
					tr {
						&:hover {
							background-color: colors.$transparent-light-secondary;
						}

						td {
							padding: 0.25rem 0.5rem;
							font-size: 1.25rem;
							cursor: default;
						}

						.index-cell {
							text-align: center;
						}

						.input-cell:hover,
						.output-cell:hover {
							background-color: colors.$transparent-light-secondary;
						}
					}
				}
			}
		}

		.see-more {
			width: 100%;
			border: none;
			background-color: transparent;
			color: colors.$text-color-secondary;
			cursor: pointer;

			&:hover {
				background-color: colors.$transparent-light-primary;
			}
		}
	}

	#output-full {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		gap: 1rem;

		.label {
			white-space: nowrap;
		}

		.text {
			flex-grow: 1;
			// background-color: white;
		}
	}

	.filename-conflict {
		text-align: center;
		color: colors.$handbrake-yellow;
	}

	.filename-overwrite {
		text-align: center;
		color: colors.$handbrake-red;
	}

	.buttons-section {
		display: flex;
		flex-direction: row wrap;
		justify-content: right;
		gap: 1rem;
	}

	.controlled-button {
		.button-label {
			font-size: 1.5rem;
		}
	}
}
