@import '../../../style/modules/colors';
@import '../../../style/modules/sizing';

@media (max-width: 1000px) {
	.side-bar {
		position: absolute !important;
		z-index: 10;

		min-width: 0 !important;

		transition: max-width 0.25s ease-in-out;
		// transition: background-color 0.25s linear;
	}

	.side-bar:not(.expanded) {
		// background-color: transparent;
		max-width: 0 !important;
		// max-width: 0 !important;
	}

	.side-bar.expanded {
		// background-color: red;
		// min-width: 100% !important;
		max-width: $sidebar-width !important;
	}
}

.side-bar {
	// position: relative;
	height: 100%;
	min-width: $sidebar-width;
	// max-width: $sidebar-width;
	// max-width: 100px;

	// display: flex;
	// flex-flow: column nowrap;
	// align-items: center;
	overflow: hidden;

	.side-bar-background {
		position: absolute;
		width: 100%;
	}

	.side-bar-inner {
		height: 100%;
		min-width: $sidebar-width;
		max-width: $sidebar-width;
		background-color: $background-secondary;
	}

	.side-bar-header {
		width: 100%;
		text-align: center;
		padding-top: 2.5rem;

		border-bottom: 0.2rem solid $background-primary;

		img {
			width: 25%;
		}

		h2 {
			color: $text-color-secondary;
		}
	}

	.side-bar-nav {
		width: 100%;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				// width: 100%;
				font-size: 1.75rem;
				border-bottom: 0.2rem solid $background-primary;

				a {
					width: 100%;
					padding: 1rem 2rem;

					display: block;
					color: $text-color-secondary;
					text-decoration: none;
				}

				a.active {
					color: $text-color-primary;
					font-weight: bold;
					text-decoration: underline;
				}

				a:hover {
					background-color: $background-tertiary;
				}
			}
		}
	}
}
