@use '~styles/modules/colors';
@use '~styles/modules/sizing';

@media (max-width: sizing.$medium-max-width) {
	.side-bar {
		position: absolute !important;
		z-index: 999;

		min-width: 0 !important;

		transition: max-width 0.25s ease-in-out;
		// transition: background-color 0.25s linear;
	}

	.side-bar:not(.expanded) {
		// background-color: transparent;
		max-width: 0 !important;
		// max-width: 0 !important;
	}

	.side-bar.expanded {
		// background-color: red;
		// min-width: 100% !important;
		max-width: sizing.$sidebar-width !important;
	}
}

.side-bar {
	// position: relative;
	height: 100%;
	min-width: sizing.$sidebar-width;
	// max-width: $sidebar-width;
	// max-width: 100px;

	// display: flex;
	// flex-flow: column nowrap;
	// align-items: center;
	overflow: hidden;

	.side-bar-background {
		position: absolute;
		width: 100%;
	}

	.side-bar-inner {
		height: 100%;
		min-width: sizing.$sidebar-width;
		max-width: sizing.$sidebar-width;

		display: flex;
		flex-flow: column nowrap;

		background-color: colors.$background-secondary;

		.side-bar-header {
			width: 100%;
			text-align: center;
			padding-top: 2.5rem;

			border-bottom: 0.2rem solid colors.$background-primary;

			img {
				width: 35%;
			}

			h2 {
				color: colors.$text-color-secondary;
			}
		}

		.side-bar-nav {
			width: 100%;
			flex-grow: 1;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					// width: 100%;
					font-size: 1.75rem;
					border-bottom: 0.2rem solid colors.$background-primary;

					a {
						width: 100%;
						padding: 1rem 2rem;

						display: block;
						color: colors.$text-color-secondary;
						text-decoration: none;

						:global(.bi) {
							margin-right: 1.5rem;
						}
					}

					a.active {
						color: colors.$text-color-primary;
						font-weight: bold;
						text-decoration: underline;
					}

					a:hover {
						background-color: colors.$background-tertiary;
					}
				}
			}
		}

		.side-bar-application-version {
			padding: 0.5rem;
			border-top: 0.1rem solid colors.$background-four;
			text-align: center;
			font-size: 1.25rem;
		}
	}
}
