@import '../../../../style/modules/colors';
@import '../../../../style/modules/font';

.select-input {
	label {
		margin-right: 1rem;
	}

	select {
		padding: 0.5rem 1rem;
		flex-grow: 1;
		// appearance: none;
		border: 0.1rem solid $text-color-primary;
		border-radius: 0.75rem;
		background-color: $background-tertiary;
		color: $text-color-primary;
		font-size: 1.5rem;
		font-family: $font-family-primary;
	}
}
