@use '~styles/modules/colors';
@use '~styles/modules/sizing';

.select-input {
	display: inline-flex;
	align-items: center;

	label {
		white-space: nowrap;
	}

	select {
		max-width: 100%;
		background-color: colors.$background-tertiary;
	}
}

@media screen and (max-width: sizing.$small-max-width) {
	.select-input {
		flex-flow: row wrap;
		gap: 0.5rem;

		label {
			width: fit-content;
		}
	}
}

@media screen and (min-width: sizing.$medium-min-width) {
	.select-input {
		flex-flow: row nowrap;
		gap: 1rem;
	}
}
