.progress-bar {
	position: relative;
	min-width: 10rem;
	height: 2rem;
	overflow: hidden;
	border-radius: 0.5rem;
	background-color: hsla(0, 0%, 100%, 0.1);

	.value {
		height: 100%;
		background-color: var(--handbrake-blue);
		display: block;
	}

	.label {
		font-size: 1.5rem;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
	}
}
