.progress-bar {
	position: relative;
	min-width: 6rem;
	height: 1.25rem;
	overflow: hidden;
	border-radius: 0.25rem;
	background-color: hsla(0, 0%, 100%, 0.1);

	.value {
		height: 100%;
		background-color: var(--handbrake-blue);
		display: block;
	}

	.label {
		// font-size: 1.5rem;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		align-content: center;
	}
}
